rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /feedback-attachments/{feedbackId}/{filename} {
      allow create: if request.auth != null
                    && request.resource.size < 6 * 1024 * 1024
                    && request.resource.contentType.matches('image/jpeg|text/csv');
      allow read: if true;
      allow delete: if request.auth != null
                    && request.auth.token.email == 'blueman9@gmail.com'
                    && request.auth.token.email_verified == true;
      allow update: if false;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
